!!! HTML
%html
  %head
    %title Colorful
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,300",
          rel: "stylesheet", type: "text/css"}
    %link{href: "css/colorful.css", rel: "stylesheet", type: "text/css"}
    %script{src: "js/jquery-1.11.1.min.js"}
    %script{src: "js/colorful.js", type: "text/javascript"}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-998424-3', 'colorfull.herokuapp.com');
      ga('send', 'pageview');
  %body
    .container
      #canvas.full
        .color
          %span.hex #ffffff
          .sub #000000
      #bar
    #debug
