// Place all the styles related to the colorful controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.color {
	font-size: 7em;
	font-family: monospace;
	clear: both;
	position: relative;
	text-align: center;
	margin-top: 150px;
	background: black;
	color: white;
	width: 33.333%;
	margin-left: 33.333%;
	margin-right: 33.333%;
}
