.color {
	font-size: 7em;
	font-family: monospace;
	clear: both;
	
	position: fixed;
	left: 50%;
	top: 25%;
	text-align: center;
	-webkit-transform: translate3d(-50%, -15%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);

}
.hex {
	background-color: black;
	color: white;
	padding: 10px;
	border-radius: 7px;
}
.sub {
	width: 100%;
	position: relative;
	top: 10px;
	font-size: 0.2em;
}
.container {
	height: 200%;
	width: 100%;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 0;
}
.bar {
	position: fixed;
	width: 20%;
	height: 100%;
	top: 0px;
	left: 0px;
	margin-top: 0px;
	margin-left: 0px;
	background-color: white;
	display: none;
}
.saved {
	height: 1em;
	display: inline;

}
